body {
    background-color: #042f36;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 18%;
}

.title{
    width: 35ch;
    color: white;
    font-family: monospace;
    font-size: 34px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: printed-text 7s steps(35),
        flashing-border 0.75s step-start infinite;

}

@keyframes flashing-border{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

@keyframes printed-text {
    from{
        width: 0;
    }
    
}

.button_wrapper{
    display: flex;
    justify-content: center;
}

a.button {
    font-family: monospace; 
    font-size: 18px;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: orange;
    
    transition: 0.2s;
} 

.button:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}