<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>

    <link rel="stylesheet" href="/static/styles/main_page.css">
</head>
<body>
    <div class="wrapper">
        <h1 class="title">Adventure is closer than you think.</h1>
    </div>

    <div class="button_wrapper">
        <a href="/explore" class="button">🔎Explore</a>
        <a href="/create" class="button">✏️Create</a>
    </div>
</body>
</html>